/* Add your CSS styling here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bcdae5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c3c5e;
    padding: 10px 20px;
}

.nav_logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 5px;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

header {
    background-image: url('header-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
}

.section_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header_content h1 {
    font-size: 54px;
    margin: 0;
}

.header_content p {
    font-size: 29px;
    margin: 10px 0;
}

.header_content a {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

.journey_container {
    padding: 1px 0;
}

.section_title {
    font-size: 32px;
    text-align: center;
    margin: 0 0 10px 0;
}

.section_subtitle {
    text-align: center;
    font-size: 18px;
    color: #777;
    margin: 0 0 40px 0;
}

.journey_grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.course_card {
    background-color: #fff;
    border: 1px solid #4d1e1e;
    border-radius: 10px;
    width: 30%;
    margin: 10px 0;
    text-align: center;
    padding: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course_img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.course_name {
    margin-top: 20px;
    font-size: 19px;
}

.course_name a {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-size: 15px;
}

.technical,
.buisness,
.english,
.stock {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin: 40px 0 20px;
    filter: drop-shadow(0px 0px 15px black);
}
